<nb-layout>
  <nb-layout-column>
    <nb-card>
      <form action="">
        <div class="day input-div">
          <label for="day">day</label>
          <input matInput type="number" id="day" />
        </div>
        <div class="month input-div">
          <label for="month">month</label>
          <input matInput type="number" id="month" />
        </div>
        <div class="year input-div">
          <label for="year">year</label>
          <input matInput type="number" id="year" />
        </div>
      </form>
      <div class="hr-container">
        <hr />
        <div class="hr-arrow" (click)="handleClick()"></div>
      </div>
      <div class="content">
        <h2 class="h2-year">
          <span class="date-amount year-amount">{{ yearAmount }}</span> years
        </h2>
        <h2 class="h2-month">
          <span class="date-amount month-amount">{{ monthAmount }}</span> months
        </h2>
        <h2 class="h2-day">
          <span class="date-amount day-amount">{{ dayAmount }}</span> days
        </h2>
      </div>
    </nb-card>
  </nb-layout-column>
</nb-layout>
